@media only screen and (max-width:768px) {
    .menu .content .navbar .navbar-collapse {
        margin-left:2em;
        text-align: center;
    }
}
@media only screen and (max-width:680px) {
    .header ul li {
        display: block;
    }
    .header {
        height: 90px;
    }
    .header ul  {
        text-align: center;
    }
    .user-info .content form {
        display: block;
    }
    .user-info .content form input {
        width: 100%;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width:480px) {
  

}
@media only screen and (max-width:320px) {
    .user-info .content form button {
        padding: 0px;
        margin:auto;
    }
}